{% extends 'sign-in.html' %}

{% block title %}克隆生物-注册{% end %}

{% block account_form %}
					<!-- Start Sign In Form -->
					<form action="/regist" method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
						{% module xsrf_form_html() %}
						<h2>欢迎注册</h2>
						<div class="form-group" id="error">

						</div>
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="text" class="form-control" id="name" name="yourname" placeholder="用户名(2~25字符位)" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="邮箱(6~30字符位)" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="password" class="sr-only">Password</label>
							<input type="password" class="form-control" id="password" name="password1" placeholder="密码(6~64字符位)" autocomplete="off">
						</div>
						<div class="form-group">
							<label for="re-password" class="sr-only">Re-type Password</label>
							<input type="password" class="form-control" id="re-password" name="password2" placeholder="确认密码(6~64字符位)" autocomplete="off">
						</div>
						<div class="form-group">
							<!--<label for="remember"><input type="checkbox" id="remember"> 记住我</label>-->
						</div>
						<div class="form-group">
							<p>已注册？去 <a href="/user_login">登录</a></p>
						</div>
						<div class="form-group">
							<input type="submit" value="注 册" class="btn btn-primary" id="regist_submit">
						</div>
					</form>
					<!-- END Sign In Form -->
{% end %}

{% block end_js %}
<script src="{{ static_url('account/sign_js/regist_user.js') }}"></script>
{% end %}